@tailwind base;
@tailwind components;
@tailwind utilities;

.link, .format {
    width: 100%;
    height: 60px;
    border: 2px solid rgb(240, 67, 67);
    margin-top: 15px;
    text-align: center;
  }
  .btn {
    width: 100%;
    height: 60px;
    border: none;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(240, 67, 67);
    color: white;
    cursor: pointer;
    font-size: 25px;
  }